.speech{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: black;

}
.name:hover{
    color: yellowgreen;
    text-shadow: 5px 4px 3px burlywood;
    border:  2px solid rgb(10, 104, 76);    
    padding: 2px;
}  
 
.direction{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: black;
    background-color: lightcyan;
}
.direction:hover{
    color: brown;
     background-color: antiquewhite;
}
.firstCitizen{
    color: lightsalmon;
}
.secondCitizen{
    color: lightskyblue;    
}
.thirdCitizen{
    color: gray;    
}
.fourthCitizen{
    color: lightcoral;    
}

table{
    margin: 2px;
    border-spacing: 1.4em 0.8em;
    border-collapse: collapse;
    border:2px solid lightsteelblue;
    text-align: left;
    padding: 0.5em;
    width:100%;

}
th{
    background-color: lightsalmon;

}
tr:nth-child(even){
    background-color: whitesmoke;

 }  
td{
    width: 1.5em;
    height: 2em;
    text-align: left;
    vertical-align: middle ;

}